<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964111127577-vsvbmu24eu577opgde7m6j4in6m33e3j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964111127577-vsvbmu24eu577opgde7m6j4in6m33e3j</string>
	<key>API_KEY</key>
	<string>AIzaSyB3mZMAgmrH5Bk-0PrItUiuPlkEgzGVPhU</string>
	<key>GCM_SENDER_ID</key>
	<string>964111127577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.araadshams.Home-Control</string>
	<key>PROJECT_ID</key>
	<string>home-c4d7a</string>
	<key>STORAGE_BUCKET</key>
	<string>home-c4d7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964111127577:ios:d3b615733c33d1b9848688</string>
	<key>DATABASE_URL</key>
	<string>https://home-c4d7a.firebaseio.com</string>
</dict>
</plist>